rtk_*
04.09.2018 - Установка RUNOS под AstraLinux - v03.pdf
Презентация к отчёту.odp
Презентация к отчёту.pdf
*.zip

Runos installation via Nix
Runos installation via Nix v2
Working installation.txt
install_libpcap.txt
nginx-core.deb
nginx.deb
nginx1.conf
nginx2.conf
nginx_installation.txt
nginx_working.conf
run_mininet.sh
setup_vlan.txt
